# Godot 4+ specific ignores
game/.godot/
game/rust/target
game/addons/*
!game/addons/enumerated_table
!game/addons/atlas_painter
!game/addons/dialogue_graph
!game/addons/wails_resources
# Blender
blender/**/*.blend1
